*,
*::before,
*::after {
    box-sizing: border-box;
}    

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    --brand-color:#EF5F4C;
    --shape-transparency:#ffffff91;
    --background-color:#FFFFFF;
    --surface-color:#F5F5F5;
    --skeleton-color:#D9D9D9;
    --text-color-primary:#313131;
    --text-color-secondary:#6c6c6c;  

    --font-family: "Poppins", sans-serif;
    --text:1rem/1,5 var(--font-family);
    --text-lg: bold 2rem/125% var(--font-family);
    --text-md: 0.875rem/170% var(--font-family);
    --text-sm: 0.75rem/170% var(--font-family);
}
    
body {
    
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.container{
    padding-inline: 2rem;
    max-width: 80em;
    margin-inline: auto;
   
}
.bg-surface-color{
    
    background-color: var(--surface-color);
}

@media (width <= 22.5rem){ /* Para telas até 360px de largura */

    /* Esconde todos os links 'a' que não contêm uma imagem */
    
    li a:not(:has(img)) { /* :not(:has(img)) seleciona 'a' que NÃO tem 'img' dentro */
        display: none;
    }

    /* Garante que os 'li' que contêm as imagens se alinhem */
    li:has(img) { /* :has(img) seleciona 'li' que possui uma 'img' dentro */
        display: inline-block; /* Faz com que os 'li' se comportem como elementos de linha com largura e altura */
        vertical-align: middle; /* Ajuda a alinhar as imagens verticalmente, se elas tiverem alturas diferentes */
    }
    
    /* Faz as imagens se comportarem como 'inline-block' para manter suas dimensões e estarem na mesma linha */
    li a img { /* Seleciona imagens dentro de links dentro de 'li' */
        display: inline-block; /* Permite que fiquem lado a lado */
        /* Opcional: Adicione um pequeno espaçamento entre elas se necessário */
        margin-right: 5px; 
    }
}